* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 38px;
  color: #2274a5;
  text-align: center;
  padding: 12px 0;
  margin: 0;
}
h2 {
  font-family: "Bebas Neue";
  font-size: 25px;
  color: #2274a5;
  text-align: center;
  margin: 35px 0 20px;
  letter-spacing: 1px;
  height: 40px;
}
h3 {
  font-family: "JosefinSansRegular";
  font-weight: 600;
  font-size: 26px
}
// p {
//   font-family: "JosefinSans Regular";
//   font-weight: 500;
//   font-size: 18px;
//   color: #333945;
//   text-align: center;
//   line-height: 30px;
//   word-spacing: 5px;
//   margin-bottom: 1rem;
// }
