@import "../includes/imports";

#about {
  .heading {
     margin-top: 30px;
  }
  .sub-text {
    font-family: "JosefinSans Regular";
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 1rem;
    font-size: 18px;
    color: #333945;
  }
}
