@import "../includes/imports";

#hero {
  padding: 100px 0px;
  .hero-img {
    padding-bottom: 30px;
  }
  .hero-content {
    .heading {
      text-align: end;
    }
    p {
      text-align: end;
    }
    .btn-box {
      padding-top: 20px;
      display: flex;
      justify-content: end;
      gap: 20px;
      .btn1 {
      }
    }
    .watch-video {
      text-align: end;
      padding-top: 20px;
      img {
        max-width: 150px;
        margin-right: 30px;
      }
    }
    .branding {
      padding-top: 50px;
      text-align: end;
      .ph {
        max-width: 228px;
        margin-right: 30px;
      }
      .iia {
        max-width: 198px;
      }
    }
  }
}

#about {
  padding-top: 50px;
  background-color: rgb(255, 249, 249);
  .heading {
    margin-bottom: 20px;
  }
  .sub-text {
    text-align: start;
  }
  .about-vector {
    text-align: end;
  }
}

#advantages {
  padding-top: 50px;
  .heading {
    margin-bottom: 20px;
  }
  .advantages-box {
    text-align: center;
  }
}

#benefits {
  padding-top: 80px;
  .heading {
    margin-bottom: 20px;
  }
  .benefits-box {
    text-align: center;
  }
  .benefits-button {
    text-align: center;
  }
}

#howitworks {
  .heading {
    padding-top: 100px;
  }
  .sub-text {
    margin-bottom: 100px;
  }
  .works-box {
    display: flex;
    .content-left {
      .content1 {
        display: flex;
        margin-top: -100px;
        .img-box {
          text-align: start;
        }
        .text-box {
          padding-top: 150px;
        }
      }
      .content2 {
        display: flex;
        .img-box {
          text-align: start;
        }
        .text-box {
          padding-top: 150px;
        }
      }
    }
    .content-right {
      .content1 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 70px;
        .img-box {
          text-align: end;
        }
        .text-box {
          padding-top: 150px;
        }
      }
      .content2 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -20px;
        .img-box {
          text-align: end;
        }
        .text-box {
          padding-top: 150px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      .content-middle {
        img {
          display: none;
        }
      }
    }
  }
}
