@import "../includes/imports";

#price-box {
  margin: 100px 0;
  .uno-box {
    border: 1px solid black;
    padding: 20px;
    .prices {
      font-weight: 400;
      font-family: "Source Sans Pro", sans-serif;
      .through-text {
        text-decoration: line-through;
        font-size: 20px;
        color: gray;
      }
    }
    &:hover {
      box-shadow: 0px 0px 20px 0px gray;
    }
  }
  .duo-box {
    border: 1px solid red;
    box-shadow: 0px 0px 10px 0px gray;
    margin-top: -20px;
    .recommended {
      margin: 0px;
      padding-top: 5px;
    }
    .duo-price-box {
      padding: 20px;
      .prices {
        font-weight: 400;
        font-family: "Source Sans Pro", sans-serif;
        .through-text {
          text-decoration: line-through;
          font-size: 20px;
          color: gray;
        }
      }
    }
    &:hover {
      box-shadow: 0px 0px 20px 0px gray;
    }
  }
}

#scheduling {
  margin: 50px 0px;
  background-color: rgb(73, 73, 73);
  padding: 50px 0px;
  h1 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 0px;
  }
}
