#sidebar {
  flex: 1;
  background-color: rgb(31, 22, 22);
  min-height: 100vh;
  .center {
    ul {
      list-style: none;
      li {
        margin-bottom: 20px;
      }
    }
    .active {
      padding: 10px 0;
      background-color: black;
      display: inline-block;
      width: 100%;
      border-right: 3px solid orangered;
    }
  }
}
