@import "../../styles/includes/imports";

#hero {
  padding: 100px 0px;
  .hero-img {
    padding-bottom: 30px;
  }
  .hero-content {
    .heading {
      text-align: end;
    }
    p {
      font-family: "JosefinSans Regular";
      font-weight: 500;
      font-size: 18px;
      color: #333945;
      line-height: 30px;
      word-spacing: 5px;
      margin-bottom: 1rem;
      text-align: end;
    }
    .btn-box {
      padding-top: 20px;
      display: flex;
      justify-content: end;
      gap: 20px;
      .btn1 {
      }
    }
    .watch-video {
      text-align: end;
      padding-top: 20px;
      img {
        max-width: 150px;
        margin-right: 30px;
      }
    }
    .branding {
      padding-top: 50px;
      text-align: end;
      .ph {
        max-width: 228px;
        margin-right: 30px;
      }
      .iia {
        max-width: 198px;
      }
    }
  }
}

#about {
  padding-top: 50px;
  background-color: rgb(255, 249, 249);
  .heading {
    margin-bottom: 20px;
  }
  .sub-text {
    font-family: "JosefinSans Regular";
    font-weight: 500;
    font-size: 18px;
    color: #333945;
    line-height: 30px;
    word-spacing: 5px;
    margin-bottom: 1rem;
    text-align: start;
  }
  .about-vector {
    text-align: end;
  }
}

#advantages {
  padding-top: 50px;
  .heading {
    margin-bottom: 20px;
  }
  .advantages-box {
    text-align: center;
    p {
      font-family: "JosefinSans Regular";
      font-weight: 500;
      font-size: 18px;
      color: #333945;
      text-align: center;
      line-height: 30px;
      word-spacing: 5px;
      margin-bottom: 1rem;
    }
  }
}

#benefits {
  padding-top: 80px;
  .heading {
    margin-bottom: 20px;
  }
  .benefits-box {
    text-align: center;
    font-family: "JosefinSans Regular";
    font-weight: 500;
    font-size: 18px;
    color: #333945;
    text-align: center;
    line-height: 30px;
    word-spacing: 5px;
    margin-bottom: 1rem;
  }
  .benefits-button {
    text-align: center;
  }
}

#howitworks {
  .heading {
    padding-top: 100px;
  }
  .sub-text {
    margin-bottom: 100px;
    font-family: "JosefinSans Regular";
    font-weight: 500;
    font-size: 18px;
    color: #333945;
    text-align: center;
    line-height: 30px;
    word-spacing: 5px;
  }
  .works-box {
    display: flex;
    .content-left {
      .content1 {
        display: flex;
        margin-top: -100px;
        .img-box {
          text-align: start;
        }
        .text-box {
          padding-top: 150px;
          p {
            font-family: "JosefinSans Regular";
            font-weight: 500;
            font-size: 18px;
            color: #333945;
            text-align: center;
            line-height: 30px;
            word-spacing: 5px;
            margin-bottom: 1rem;
          }
        }
      }
      .content2 {
        display: flex;
        .img-box {
          text-align: start;
        }
        .text-box {
          padding-top: 150px;
          font-family: "JosefinSans Regular";
          font-weight: 500;
          font-size: 18px;
          color: #333945;
          text-align: center;
          line-height: 30px;
          word-spacing: 5px;
          margin-bottom: 1rem;
        }
      }
    }
    .content-right {
      .content1 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 70px;
        .img-box {
          text-align: end;
        }
        .text-box {
          padding-top: 150px;
          font-family: "JosefinSans Regular";
          font-weight: 500;
          font-size: 18px;
          color: #333945;
          text-align: center;
          line-height: 30px;
          word-spacing: 5px;
          margin-bottom: 1rem;
        }
      }
      .content2 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -20px;
        .img-box {
          text-align: end;
        }
        .text-box {
          padding-top: 150px;
          font-family: "JosefinSans Regular";
          font-weight: 500;
          font-size: 18px;
          color: #333945;
          text-align: center;
          line-height: 30px;
          word-spacing: 5px;
          margin-bottom: 1rem;
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      .content-middle {
        img {
          display: none;
        }
      }
    }
  }
}

#learnmore {
  background-image: url("../../../public/assets/learnmore.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 133px;
  .learnmore-box {
    display: flex;
    justify-content: space-around;
    .text-box {
      .heading {
        font-family: $primaryFont;
        font-size: 33px;
        margin: 44px 0 0;
        color: white;
      }
      .sub-text {
        font-size: 20px;
        color: white;
        text-align: center;
      }
    }
    .btn-box {
      display: flex;
      align-items: center;
    }
  }
}

#pricing {
  margin: 100px 0;
  .uno {
    background-color: #80b740;
    padding: 30px 0px;
    transition: all ease 0.5s;
    margin-right: -30px;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 2px;
      padding: 0px;
    }
    &:hover {
      padding: 50px 0px;
      box-shadow: 0px 0px 20px 0px gray;
    }
  }

  .duo {
    background-color: #46a549;
    padding: 30px 0px;
    transition: all ease 0.5s;
    margin-right: -30px;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 2px;
      padding: 0px;
    }
    &:hover {
      padding: 50px 0px;
      box-shadow: 0px 0px 20px 0px gray;
      // transform: translateY(50px);
    }
  }
  .trio {
    background-color: #008c7f;
    padding: 30px 0px;
    transition: all ease 0.5s;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 2px;
      padding: 0px;
    }
    &:hover {
      padding: 50px 0px;
      box-shadow: 0px 0px 20px 0px gray;
    }
  }
}
